/********************
       MODULES
********************/
/********************
      NORMALISE
********************/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Google Sans Text", sans-serif;
  color: white;
}

/********************
    CSS VARIABLES
********************/
:root {
  --ice: #4ec3de;
  --turquoise: #11b4da;
  --blue: #1172b9;
  --purple: #6811b9;
  --pink: #b91192;
  --red: #da2110;
  --orange: #ea5f0a;
  --yellow: #d9bc0a;
  --green: #4fb911;
  --glacier: #dbe6f7;
  --light: #6a7881;
  --grey: #464c50;
  --meh: #31435d;
  --palenight: #222e3f;
  --dark: #1C1B29;
}

/********************
        BODY
********************/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background: #222e3f;
  overflow-x: hidden;
  padding-left: 108px;
  min-width: 100vw;
  min-height: calc(100vh - 130px);
  position: relative;
}

main {
  padding: 50px;
  width: 100%;
  height: 100%;
}

#header-spacer {
  height: 130px;
}

/********************
      SECTIONS
********************/
section {
  margin: 0 0 70px;
}

h2 {
  margin: 0 0 15px;
}
h2 span {
  background: rgba(106, 120, 129, 0.5);
  padding: 10px 5px 10px;
  display: inline-block;
  position: relative;
  font-family: "Google Sans Display", sans-serif;
  font-size: 24px;
}
h2 span::after {
  content: "";
  border-bottom: 1px solid white;
  width: 90%;
  position: absolute;
  bottom: 7px;
  left: 5%;
}

h3 {
  margin: 15px 0 10px;
  font-family: "Google Sans Display", sans-serif;
  font-size: 19px;
}

/********************
       PANELS
********************/
.panel {
  background: #31435d;
  padding: 50px;
  position: relative;
  animation: pop-up 1s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.panel section:last-child {
  margin-bottom: 0;
}
.panel h2 {
  margin-bottom: 10px;
}
.panel h3 {
  margin: 20px 0 5px;
}
.panel h3:first-child {
  margin-top: 0;
}
.panel p {
  margin: 10px 0 15px;
}
.panel p:last-child {
  margin-bottom: 0;
}
.panel .material-icons-outlined {
  display: inline;
  position: relative;
  top: 4px;
  font-size: 20px;
}
.panel code {
  background: #1C1B29;
  border: 1px #464c50 solid;
  padding: 2px;
  display: inline;
  font-family: "Google Sans Mono", monospace;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.panel li {
  list-style-position: inside;
}

@keyframes pop-up {
  from {
    opacity: 0;
    bottom: -100px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
/********************
      BUTTONS
********************/
.button-wrapper {
  margin-bottom: 5px;
  margin-left: -10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button {
  background: #1172b9;
  box-sizing: content-box;
  outline: none;
  margin: 10px;
  border: none;
  padding: 5px;
  width: 115px;
  height: 115px;
  font-family: "Google Sans Text", sans-serif;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-transition: 100ms;
  -moz-transition: 100ms;
  -ms-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
}
.button:hover, .button:focus, .button:focus-within {
  margin: 5px;
  padding: 10px;
  filter: brightness(80%);
}
.purple .button {
  background: #6811b9;
}
.pink .button {
  background: #b91192;
}
.red .button {
  background: #da2110;
}
.orange .button {
  background: #ea5f0a;
}
.yellow .button {
  background: #d9bc0a;
}
.green .button {
  background: #4fb911;
}
.button img {
  margin-bottom: 10px;
  width: auto;
  height: 50px;
}

button {
  margin: 10px;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-transition: 100ms;
  -moz-transition: 100ms;
  -ms-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
}

/********************
       INPUTS
********************/
input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px #464c50 solid;
  padding: 5px;
  font-size: 18px;
}
input:hover {
  border-bottom-color: #6a7881;
}
input:focus {
  border-bottom-color: white;
}

/********************
      DROPDOWN
********************/
.dropdown {
  position: relative;
  z-index: 6;
}
.dropdown.open .dropdown-items {
  display: flex;
}
.dropdown.open button {
  background: #1b2532;
}
.dropdown.open > button span {
  transform: rotate(180deg);
}
.dropdown button {
  background: none;
  outline: none;
  margin: 0;
  border: none;
  padding: 5px 10px;
  width: auto;
  min-width: 125px;
  flex-direction: row;
  font-family: "Google Sans Display", sans-serif;
  font-size: 19px;
  transition: none;
}
.dropdown button:hover, .dropdown button:focus {
  background: #1e2837;
}
.dropdown > button:hover, .dropdown > button:focus {
  background: #202b3b;
}
.dropdown > button span {
  display: inline-block;
  font-size: 30px;
  transition: 250ms;
  transform: rotate(360deg);
}

.dropdown-items {
  display: none;
  position: absolute;
  top: 50px;
  z-index: 7;
  flex-direction: column;
  align-items: center;
}
.dropdown-items button {
  width: 100%;
}

/********************
       FOOTER
********************/
footer {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 10px;
  right: 20px;
  text-align: right;
}
footer * {
  font-family: "Google Sans Mono", monospace;
  font-size: 14px;
  color: #464c50;
}
footer .footer-divider {
  margin: 0 10px;
}

/********************
       MOBILE
********************/
@media only screen and (max-width: 900px) {
  body {
    padding-left: 0;
  }

  main {
    margin-bottom: 73px;
    padding: 20px;
  }

  .button-wrapper {
    align-items: center;
  }

  footer {
    margin-bottom: 10px;
    width: 100vw;
    flex-direction: column;
    bottom: 0;
    right: 0;
    text-align: center;
  }
  footer .footer-divider {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
