//FONTS
$font-1: 'Google Sans Display', sans-serif;
$font-2: 'Google Sans Mono', monospace;
$font-3: 'Google Sans', sans-serif;
$font-4: 'Google Sans Text', sans-serif;


// COLOURS
$ice: #4ec3de;
$turquoise: #11b4da;
$blue: #1172b9;
$purple: #6811b9;
$pink: #b91192;
$red: #da2110;
$orange: #ea5f0a;
$yellow: #d9bc0a;
$green: #4fb911;

$glacier: #dbe6f7;
$light: #6a7881;
$grey: #464c50;
$palenight: #222e3f;
$dark: #1C1B29;


// MISC
$nav_w-link-name: 350px;
$nav_w-link-icon: 48px;
$body-pl: $nav_w-link-icon + 60px;
$body-pt: 170px;