@use "globals";
@use "flex";
@use "vendored";

header {
  & {
    background: globals.$blue;
    padding: 0 20px 0 15px;
    width: calc(100vw - #{globals.$body-pl});
    height: globals.$header-h;
    position: fixed;
    top: 0;
    z-index: 10;

    @include flex.flex-centre();
    @include vendored.trs(250ms);
  }

  * {
    font-family: globals.$font-3;
  }

  h1 { font-size: 30px; }
  .subtitle { font-size: 16px; }
  
  img {
    position: absolute;
    width: globals.$header-h * 0.8;
    opacity: 0.1;
  }
}

header.collapsed {
  & {
    height: globals.$header-collapsed-h;
    flex-direction: row;
    justify-content: space-between;
  }

  h1 { font-size: 20px; }

  img {
    display: block;
    width: globals.$header-collapsed-h * 0.8;
    position: static;
    opacity: 1;
  }
}





/********************
       MOBILE
********************/
@media only screen and (max-width: 1000px) {
  header {
    width: 100vw;

    &.collapsed {
      .subtitle { display: none;  }

      img { width: globals.$header-collapsed-h * 0.6; }
    }
  }
}
