@use "globals";

[data-mode="light"] {
  body {
    background: globals.$glacier;
  }

  h2 {
    span {
      color: black;

      &::after {
        border-color: black;
      }
    }
  }

  input {
    color: black;
  }
}